# ---- Firmware (PlatformIO) ----
firmware/.pio/
firmware/.vscode/
firmware/include/secrets.h        # datos privados: WiFi, IP, contraseñas

# ---- Servidor: datos generados (NO se suben, son "estado", no config) ----
server/mosquitto/data/
server/mosquitto/log/
server/influxdb/
server/grafana/
server/nodered/node_modules/
server/nodered/.config.*
server/nodered/.flows.json.backup
server/nodered/lib/

# ---- Sistema ----
.DS_Store
Thumbs.db
